/* h1 {
    color: cyan
} */
.container{
    color:#343f5b;
    background-color: rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    overscroll-behavior: scroll;
}

body {
    background-image: url("sunrise.png");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
    min-width: 1024px;
    position:fixed;
    top: 0;
    left: 0;
}
h1,h2,h3,h4,h5,h6 {
    /* font-family: */
    /* color: rgba(0, 0, 0, 0.8); */
    color: rgba(230, 88, 6, 0.8);
    text-shadow:1px 1px #0FA1B4;
    mix-blend-mode: normal;
    /* border: 1px solid rgba(15,161,180,0.9); */
    /* border-color: #0FA1B4; */
}
.goal-list {
    max-height: 1300px;
    overflow-y: auto;
}
.navbar {
    color:#343f5b;
    background-color: rgba(0, 0, 0, 0.85);
}
.row {
    display: flex;
}
/* .col-sm {
border-color: rgb(247, 42, 6);
} */
.profile-goal{
    background:#343f5b;
}
label{
    color: #e204e2
}
input {
    color: #0f5f6a;
    border-radius: .25rem;
}
.card-body {
    background: #0f5f6a;
    background-color: rgba(0, 0, 0, 0.9);
}
.helptext {
    color: #e204e2;
}
ul {
    color: #e204e2;
}
p {
    color: rgba(230, 88, 6, 0.8);
    text-shadow:1px 1px #0FA1B4;
}