{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css'%}"/>
    <link rel="stylesheet" href="{% static 'styles/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="{% static 'scripts/app.js' %}" defer></script>
    <title>LVL-UP</title>
</head>
<body>
    <div class="navbar">
    <h1> LVL-UP <i class="bi bi-arrow-up-square-fill"></i></h1>
    

    {% if user.is_authenticated %}
    <span><a href="{% url 'profile' user.username %}">{{ user.username }}<i class="bi bi-person-circle"></i></a></span>
    <span> | </span>
    <span><a href="{% url 'logout' %}">Logout</a></span>
    <span> | </span>
    {% else %}
    <span><a href="{% url 'login' %}">Login</a></span>
    <span> | </span>
    <span><a href="{% url 'signup' %}">SignUp</a></span>
    {% endif %}
    <a href="/admin">Admin</a>
    <span> | </span>
    <a href="/goals/">Goals</a>
    <span> | </span>
    <a href="{% url 'goals-create' %}">Add a new goal</a>
    <span> | </span>
    </div>
    {%block content%}
    
    {%endblock%}
    
</body>
</html>