{% extends 'base.html' %}
{%load static%}
{% block content %}
<div class="container">
<form> 
        <input type="text" name="name" placeholder="goal name"/>
        <input type="submit" value="Search"/>
        <div>
            <a href="{% url 'goal-list' %}">Clear search</a>
            <a href="{% url 'goals-create' %}">Add a new Goal</a>
</form>
<div class="goal-list">
    <h1>Our Goals:</h1>
    {% for goal in goals %}
    <div class="border">
    <h2>Goal:<a href="{% url 'goal-detail' goal.pk %}">{{goal.name}}</a></h2>
    <h3>Description: {{goal.description}}</h3>
    <span></span>
    <h3>Number of days completed: {{goal.dailyz}}</h3>
    <h3>Days to complete challenge: {{goal.duration}}</h3>
    <h3>Goal belongs to: <a href='/user/{{goal.user.username}}'>{{goal.user.username}}</a></h3>
    <span></span>
    </div>
    {% endfor %}
    </div>
    </div>
{% endblock %}