
{% block content %}
<div class="container">
<h1>Welcome to LVL-UP</h1>
<h3>LVL-UP is a place where you can create goals, track them, with daily updates, select sponsorships and redeem sponsors when you hit durations for goals.</h3>
<span></span>
<h3>They say it can take roughly a month to create new habits, goals have a standard duration of a month, as users come check in and update their dailyz when they carry out the recurring task, users will be able to redeem sponsors after the 30th dailyz check in.</h3>
<span></span>
<h3>Users are able to maintain their goals by updating the name, description, and dailyz check in. Users can also delete goals and select new goals. Additionally users can add multiple sponsors to their goals, which can be redeemed when the duration is met.</h3>
<span></span>
<h3>Users can view their goals, and their progress on the profile page, as well as see any redeemed sponsorships. Users are able to securely login and logut, and track their goals conveniently</h3>
<span></span>
</div>
{% endblock %}