{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
<h1>{{username}}'s Profile</h1>

{% for goal in goals %}
<a href="/goals/{{ goal.id }}/">
    <h3>{{goal.name}}</h3>
    <h3>{{goal.description}}</h3>
    <h3> {{goal.dailyz}}</h3>
</a>
{% endfor %}
</div>
    
    <div class="col-sm">
    <h1> Redeemed</h1>
    {% for goal in goals %}
   
    {% if goal.dailyz >= goal.duration %}
        <div class="card">
            <div class="card-body">
        {% for sponsor in goal.sponsors.all %}
             
       <h4 class="card-title"> {{sponsor.sponsor_name}} </h3>
       <h5 class="card-subtitle">{{sponsor.offer}} </h3> 
        <img src="{{sponsor.image}}">image</img>
            </div>
        {% endfor %}
        {% endif %}
       
    {% endfor %}
        </div>
            
    </div>
    </div>
    </div>
{% endblock %}